*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav1{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    gap: 10rem;
    font-size: 25px;
    background-color:rgb(82, 85, 76);
    line-height: 1.6;
    word-spacing: 30px;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 45px;
}